<?php
/* Database configuration */
$DB_SERVER="localhost";
$DATABASE='marc';
$user='marc';
$password='konko';

/* Path configuration */
$localstatedir = "{PREFIX}var/lib/";

$root = '/marc/';
$index = $root . 'index.php';

/* General */
$title = 'Network Performance Labs';
$subtitle = 'NPLMArC';

?>